body {
	background-color: black; 
	font-color: white; 
}
h1, h2 {
	color: white; 
	text-align: center;

}
a {
	color: aquamarine; 
	font-size: 16pt; 
	text-align: center; 
	position: relative; 
	text-decoration: underline;
}